.person-info {

}

.person-info__name {
  max-width: 440px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @include mq-min(768px) {
    text-align: left;
  }

  @include mq-min(1024px) {
    font-size: 32px;
  }
}

.person-info__summary {
  max-width: 440px;
  margin: 0;
  margin-left: auto;
  margin: auto;
  font-size: 16px;
  color: #ded1e0;

  @include mq-min(667px) {

  }
}
